*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* common */

/* flex */
.display-flex{display: flex;}
.flex-row{flex-direction: row;}
.flex-column{flex-direction: column;}
.justify-center{justify-content: center;}
.justify-space-bt{justify-content: space-between;}
.justify-space-around{justify-content: space-around;}
.justfy-end{justify-content: end;}
.align-item-center{align-items: center;}
.align-item-start{align-items: start;}
.align-item-end{align-items: flex-end;}
.flex-xwrap{flex-wrap: wrap;}

/* display */
.display-none{display: none;}
.display-block{display: block;}

/* margini */
.margin-0-auto{margin: 0 auto;}
.margin-auto{margin: auto;}

.text-align-center{text-align: center;}

/* padding */

.padding-025{padding: 0.25rem;}
.padding-05{padding: 0.5rem;}
.padding-075{padding: 0.75rem;}
.padding-1{padding: 1rem;}
.padding-1-25{padding: 1.25rem;}
.padding-1-5{padding: 1.5rem;}
.padding-2{padding: 2rem;}

/* paddingtop */

.padding-top-025{padding-top: 0.25rem;}
.padding-top-05{padding-top: 0.5rem;}
.padding-top-075{padding-top: 0.75rem;}
.padding-top-1{padding-top: 1rem;}
.padding-top-1-25{padding-top: 1.25rem;}
.padding-top-1-5{padding-top: 1.5rem;}
.padding-top-2{padding-top: 2rem;}

/* padding bottom */
.padding-bottom-025{padding-bottom: 0.25rem;}
.padding-bottom-05{padding-bottom: 0.5rem;}
.padding-bottom-075{padding-bottom: 0.75rem;}
.padding-bottom-1{padding-bottom: 1rem;}
.padding-bottom-1-25{padding-bottom: 1.25rem;}
.padding-bottom-1-5{padding-bottom: 1.5rem;}
.padding-bottom-2{padding-bottom: 2rem;}

/* colori */
.azzurro-card{background-color: #b5ddff;}
.violetto{background-color: #9792e4;}
.bianco{background-color: white ;}

/* larghezze */
.w100{width: 100%;}
.w80{width: 80%;}
.w50{width: 50%;}

/* nav */
header{
    background-color: #0084fd;
}
nav{
    width: 100%;
    height: 60px;
    align-items: center;
}
#hamburger{
    color: white;
    font-size: 18px;
}
nav button{
    padding: .5rem 1rem;
    border: 0;
    border-radius: 30px;
    align-self: flex-start;
    margin-top: .5rem;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 1rem;
}
/* nav per desktop */
@media screen and (min-width:1160px) {

    nav:first-child{
        width: 60%;
        margin: 0 auto;
    }
    #hamburger{
        display: none;
    }
    #nav-link{
        display: flex;
        width: 70%;
    }
}

/* sec 1 */
.card-big{
    border-radius: 20px;
}

.card-big img{
    margin-bottom: -1rem;
}

.card-big button{
    background-color: white;
    border: 0;
    padding: .5rem 1rem;
    border-radius: 20px;
    margin-top: 1rem;
}

.col-container h2{
    font-size: 5rem;
    color: #0084fd;
}
.col-container h3{
    color: #0084fd;
}

.col-container p{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.547);
}

.cards{
    border-radius: 20px;
}
/*  sec 1tablet */
@media screen and (min-width:768px) and (max-width:1160px){

    .col-container{
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        margin: 0 auto;
    }

    .col-big{
        width: 66%;
        padding: 1rem;
    }
    .col-big img{
        width: 50%;
        padding-top:1rem;
    }

    .col-big .card-big{
        align-items: flex-start;
    }

    .col{
        width:calc(100% / 3); 
        padding: 1rem;
    }

}
/* desktop */
@media screen and (min-width:1160px){

    .col-container{
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        margin: 0 auto;
    }

    .col-big{
        height: 100%;
        width: 66%;
        padding: 1rem;
        flex-direction: row;
    }
    .col-big img{
        width: 30%;
        align-self: flex-end;
    }

    .col-big .card-big{
        flex-direction: row;
        padding-top: 1rem;
    }
    .col-big .card-big .left{
        width:60%;
        align-items:flex-start;
        padding:1rem;
    }

    .col-big .card-big .left p{
        text-align: start;
    }
    .col{
        width:calc(100% / 3); 
        padding: 1rem;
    }
}

/* section 2 */
.sec-2-left{
    color: white;
}

.sec-2-right-box{
    border-radius: 30px;
    text-align: center;
}

.sec-2-right-box i{
    font-size: 1rem;
    background-color: #9792e4;
    padding:1.5rem 1.6rem;
    border-radius: 50%;
}
@media screen and (min-width:1160px){
    .sec-2-row{
        width: 60%;
        margin: 0 auto;
    }
    .sec-2-right p,h2{
        padding:1rem;
    }
    .sec-2-right{
        width: 40%;
        height: 50%;
        align-self: flex-end;
        transform: scale(.8);
        margin-bottom: -5%;
    }
    .sec-2-left{
        width: 60%;
    }
}

@media screen and (min-width:1160px){

    .sec-3-container{
        width: 60%;
        margin: 0 auto;
    }
    .sec-2-row{
        display: flex;
    }

    .sec-2-right{
        width: 50%;
        height: 50%;
        align-self: end;
    }
}
.sec-3-container h2{
    color: #9792e4;
}
sec-3-container span{
    font-weight: lighter;
}

.sec-3-container .violetto{
    border-radius: 30px;
    padding: 1rem;
    color: white;
}

.sec-3-row .img{
    /* aprire tiket per immagine storpiata (con width e height non schiantate non funziona) */
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position:50%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.sec-3-row .img1{
    background-image: url(../img/testimonial1.jpg);
}

.sec-3-row .img2{
    background-image: url(../img/testimonial2.jpg);
}

.sec-3-row .img3{
    background-image: url(../img/testimonial3.jpg);
}

.sec-3-row i{
    font-size: 2rem;
}

.sec-3-row p{
    line-height: 1.5rem;
}


@media screen and (min-width:768px){
    .sec-3-row{
        flex-direction: row;
    }
    .sec-3-right{
        padding-left: 1rem;
        width: 70%;
        text-align: start;
    }
}

@media screen and (min-width:1160px){
    .sec-3-container .violetto{
        width: 100%;
        border-radius: 30px;
        padding: 1rem;
        color: white;
    }
}

/* sec 4 */

@media screen and (min-width:768px){

    .sec-4-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .col-sec-4{
        width: calc(100% / 2);
    }
    .sec-4-flex-container{
        width: 100%;
    }
}

@media screen and (min-width:1160px){
    .col-sec-4{
        width: calc(100% / 3);
    }

    .sec-4-flex-container{
        width: 60%;
    }
}
/* section  5 */
@media screen and (min-width:768px){
    .sec-5-container{
        display: flex;
    }
}

@media screen and (min-width:1160px){
    .sec-5-container{
        width: 60%;
    }
}
@media screen and (min-width:768px) and (max-width:1160px){
    .sec-6-container{
        width: 50%;
    }
}
/* sec 6 */
@media screen and (min-width:1160px){
    .sec-6-container{
        width: 60%;
    }

    .sec-6-container p,span{
        width: 50%;
        margin: 0 auto;
    }
}

/* footer */
@media screen and (min-width:768px) and (max-width:1160px){
    .footer-container{
        width: 50%;
    }
}
@media screen and (min-width:1160px){
    .footer-container{
        width: 60%;
    }
    .footer-container p,span{
        width: 50%;
        margin: 0 auto;
    }
}




/* debug */

.bg-blu{background-color:blue ;}
.bg-viola{background-color:rgb(111, 0, 255) ;}
.bg-giallo{background-color:rgb(191, 255, 0) ;}
.bg-rosso{background-color:rgb(250, 38, 38) ;}
.bg-verde{background-color:rgb(13, 255, 0) ;}
.bg-arancione{background-color:rgb(255, 145, 0) ;}
.bg-grigio{background-color:rgb(86, 86, 86) ;}

/* altezze debug */

.debug-h500{height: 500px;}
.debug-h300{height: 300px;}
.debug-h80{height: 80px;}

.margin-top1{margin-top: 1rem;}