*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */

/* flex */
.display-flex{display: flex;}
.flex-row{flex-direction: row;}
.flex-column{flex-direction: column;}
.justify-center{justify-content: center;}
.justify-space-bt{justify-content: space-between;}
.justify-space-around{justify-content: space-around;}
.justfy-end{justify-content: end;}
.align-item-center{align-items: center;}
.align-item-start{align-items: start;}
.align-item-end{align-items: flex-end;}
.flex-xwrap{flex-wrap: wrap;}

/* display */
.display-none{display: none;}
.display-block{display: block;}

/* margini */
.margin-0-auto{margin: 0 auto;}
.margin-auto{margin: auto;}

.text-align-center{text-align: center;}

/* padding */

.padding-025{padding: 0.25rem;}
.padding-05{padding: 0.5rem;}
.padding-075{padding: 0.75rem;}
.padding-1{padding: 1rem;}
.padding-1-25{padding: 1.25rem;}
.padding-1-5{padding: 1.5rem;}
.padding-2{padding: 2rem;}

/* paddingtop */

.padding-top-025{padding-top: 0.25rem;}
.padding-top-05{padding-top: 0.5rem;}
.padding-top-075{padding-top: 0.75rem;}
.padding-top-1{padding-top: 1rem;}
.padding-top-1-25{padding-top: 1.25rem;}
.padding-top-1-5{padding-top: 1.5rem;}
.padding-top-2{padding-top: 2rem;}

/* padding bottom */
.padding-bottom-025{padding-bottom: 0.25rem;}
.padding-bottom-05{padding-bottom: 0.5rem;}
.padding-bottom-075{padding-bottom: 0.75rem;}
.padding-bottom-1{padding-bottom: 1rem;}
.padding-bottom-1-25{padding-bottom: 1.25rem;}
.padding-bottom-1-5{padding-bottom: 1.5rem;}
.padding-bottom-2{padding-bottom: 2rem;}


/* larghezze */
.w100{width: 100%;}
.w80{width: 80%;}
.w50{width: 50%;}

/* nav */
nav{
    width: 100%;
    height: 75px;
}
#hamburger{
    color: white;
    font-size: 20px;
}
/* nav per desktop */
@media screen and (min-width:1160px) {

    nav:first-child{
        width: 60%;
        margin: 0 auto;
    }
    #hamburger{
        display: none;
    }
    #nav-link{
        display: flex;
        width: 50%;
    }
}

/* tablet */
@media screen and (min-width:768px) and (max-width:1160px){

    .col-container{
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        margin: 0 auto;
        background-color: aqua;
    }

    .col-big{
        width: 66%;
        padding: 1rem;
    }
    .col-big img{
        width: 50%;
        padding-top:1rem;
    }

    .col-big .card-big{
        align-items: flex-start;
    }

    .col{
        width:calc(100% / 3); 
        padding: 1rem;
    }

}
/* desktop */
@media screen and (min-width:1160px){

    .col-container{
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        margin: 0 auto;
        background-color: rgb(154, 82, 155);
    }

    .col-big{
        height: 100%;
        width: 66%;
        padding: 1rem;
        flex-direction: row;
    }
    .col-big img{
        width: 30%;
        align-self: flex-end;
    }

    .col-big .card-big{
        flex-direction: row;
        padding-top: 1rem;
    }
    .col-big .card-big .left{
        width:60%;
        align-items:flex-start;
        padding:1rem;
    }

    .col-big .card-big .left p{
        text-align: start;
    }
    .col{
        width:calc(100% / 3); 
        padding: 1rem;
    }
}

/* section 2 */

@media screen and (min-width:1160px){
    .sec-2-row{
        display: flex;
    }

    .sec-2-right{
        width: 50%;
        height: 50%;
            align-self: end;
    }
}

.sec-3-row img{
    /* aprire tiket per immagine storpiata (con width e height non schiantate non funziona) */
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@media screen and (min-width:768px){
    .sec-3-row{
        flex-direction: row;
    }
    .sec-3-right{
        padding-left: 1rem;
        width: 70%;
        text-align: start;
    }
}













/* debug */

.bg-blu{background-color:blue ;}
.bg-viola{background-color:rgb(111, 0, 255) ;}
.bg-giallo{background-color:rgb(191, 255, 0) ;}
.bg-rosso{background-color:rgb(250, 38, 38) ;}
.bg-verde{background-color:rgb(13, 255, 0) ;}
.bg-arancione{background-color:rgb(255, 145, 0) ;}
.bg-grigio{background-color:rgb(86, 86, 86) ;}

/* altezze debug */

.debug-h500{height: 500px;}
.debug-h300{height: 300px;}
.debug-h80{height: 80px;}

.margin-top1{margin-top: 1rem;}